@import '../../assets/var';


.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;

    @media screen and (max-width:554px){
        display: block;
        text-align: center;


        .searchBar__button{
            width: 50%;
        }
    }

}
.searchBar__input{
    width: 90%;
    height: 2em;
    &::placeholder{
        font-size: 1em;
    }
}


.searchBar__button {
    background: url(../images/search.png);
    background-color: $tertiary-color;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 55px;
    width: 8%;
    height: 3em;
    border: none;

    &:hover{
        transition: 0.5s all ease-in;
        transform: scale(1.1);
    }    
}    



