@import '../../assets/var';
@import 'details-responsive';

@mixin visualizer() {
    outline: 1px solid red;
}

@mixin img($scale) {

    @if $scale ==small {
        width: auto;
        height: 14em;
    }

    @else {
        width: 14em;
        height: 16em;
    }

}

.details {
    @include visualizer();
    height: auto;
    width: 100%;
    padding: 2%;
    display: flex;
    box-sizing: border-box;

    &__image {
        width: auto;
        height: 29em;
        justify-content: center;
    }

    &__info {
        width: 100%;
        text-align: left;
        font-weight: $font-weight-text;

        h1,
        p {
            padding: 1%
        }
    }
}

.details__grid {
    @include visualizer();
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: 1fr 0.5fr;
    column-gap: 5%;
    padding: 1%;
    grid-template-areas: "details__visualize--1 details__visualize--2 details__visualize--3 details__visualize--4"
        "details__button--size           .                    .                     . "
        " details__button--cart   details__button--cart       .                     .";
}

//tentar refatorar
.details__visualize--1 {

    @include img(small);

    grid-area: details__visualize--1;
}

.details__visualize--2 {
    @include img(small);

    grid-area: details__visualize--2;
}

.details__visualize--3 {
    @include img(small);

    grid-area: details__visualize--3;
}

.details__visualize--4 {
    @include img(small);

    grid-area: details__visualize--4;
}

//tentar refatorar @for?


.details__button--size {
    grid-area: details__button--size;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    font-weight: $font-weight-text;
    margin-top: 30%;

    button{
        background-color: white;
        opacity: 70%;
    }
    &:hover button{
        cursor: pointer;
        background-color:black;
        color: white;
    }
}

.details__button--cart {
    grid-area: details__button--cart;
    border: none;
    background-color: $quaternary-color;
    border: 1px solid black;
    padding: 2%;
    text-transform: uppercase;
    text-align: center;
        &:hover{
            cursor: pointer;
            color: white;
        }
}