/*-------------------------------------*/
/*-----------------------------------------------------*/
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  margin: 2rem;
  padding-left: 1rem;
  font-weight: bold;
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 3em 3em 3em;
  background-color: #201E1E;
  color: #FFFFFF;
}

.header__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__brand .header__brand--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__shopping-cart__button {
  border: none;
  background-color: #201E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*----------------------------------------------------*/
body {
  color: #000000;
}

main {
  background-color: #E3E3E0;
}

/*-------------------------------------------------------*/
.main-menu {
  height: 2.5rem;
  background: #C4C4C4;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 1rem 0 1rem 0;
}

.main-menu .main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem 0 1rem 0;
}

.main-menu .main-menu__list .main-menu__list__itens {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*-------------------------------------------*/
.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.5rem;
}

.search-form .search-form__input {
  width: 100%;
  height: 100%;
  border: 1px solid #C4C4C4;
  padding: 1rem;
}

.search-form .search-form__button {
  background-color: #C4C4C4;
  border: none;
}

/*-------------------------------------------*/
.cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 0 3rem;
}

.item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-image,
.item-text,
.sizes,
.price,
.quantity,
.subtotal {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__size {
  margin: 0.5rem 0 0.5rem 0.5rem;
  padding: 0.3rem;
  border: 1px solid #C4C4C4;
}

.item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-price {
  font-weight: bold;
  color: chocolate;
}

.qty {
  width: 1.5rem;
  text-align: center;
}

.payment {
  background-color: #C4C4C4;
  width: 15%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.payment__button {
  background-color: #008844;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.total {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*-----------------------------*/
footer {
  background-color: #D6BBA3;
}

.footer__header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 3em;
}

.content-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3em 3em 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu a {
  text-decoration: none;
}

.footer-menu li {
  margin: 0.5rem 0;
}

.newsletter__button {
  background-color: black;
  color: white;
}

.footer-medias img {
  margin: 10px 5px 0 0;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.whatsapp,
.telefone,
.footer-contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter div {
  margin: 0.5rem 0;
}

/*--------------------------------------------------*/
@media screen and (max-width: 1300px) {
  .related-products,
  .fashion-tips {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fashion-tips__blog-posts {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-menu,
  .footer-medias,
  .footer-contact,
  .newsletter {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 644px) {
  /*Por enquanto a div do post grande(fashion-tips__big-post) some. Alterar para imagem responsiva*/
  .fashion-tips__big-post {
    display: none;
  }
}
/*# sourceMappingURL=carrinho.css.map */