html, body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
  color: #000000;
}

html *, body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cabecalho {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5%;
  margin: 0 0 0 4%;
  width: 90%;
}

.cabecalho__logo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -ms-grid;
  display: grid;
}

.cabecalho__logo__titulo {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 73%;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
}

.cabecalho__logo__texto {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: auto;
}

.cabecalho__vetor {
  margin: 0 5% 0 0;
  border: 1px solid #C4C4C4;
  border-radius: 15%;
}

.menu__botao {
  background-color: transparent;
  border: none;
  color: #f3eded;
  font-size: 36px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: none;
}

.menu__botao :hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #f3eded;
}

.menu__botao :focus ~ .menu__link {
  height: 260px;
}

@media screen and (max-width: 576px) {
  .menu__botao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

a:hover,
.menu {
  background: #151515;
  height: 10vh;
  left: 0px;
  top: 23%;
  width: 100%;
}

.menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (max-width: 576px) {
  .menu__lista {
    top: 8vh;
    right: 0;
    width: 50vw;
    background: #151515;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    margin: 0;
    height: 0;
    padding: 0;
  }
}

.menu__link {
  color: #f3eded;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 10vh;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  text-decoration: none;
  top: 4vh;
}

@media screen and (max-width: 576px) {
  .menu__link {
    -webkit-transition: all .4s;
    transition: all .4s;
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .menu__link {
    font-size: 2.2em;
  }
}

.formulario {
  display: -ms-grid;
  display: grid;
}

.formulario__pesquisar {
  border: 1px solid #C4C4C4;
  font-size: 2.5em;
  height: 128%;
  margin: 1% 0 0 4%;
  top: 40%;
  width: 85%;
}

@media screen and (max-width: 576px) {
  .formulario__pesquisar {
    height: 8vh;
    width: 70%;
    font-size: 2.3em;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .formulario__pesquisar {
    height: 8vh;
    width: 80%;
  }
}

.formulario__botao__pesquisa {
  border: 1px solid #C4C4C4;
  border-radius: 1vh;
  background: #000000;
  height: 130%;
  margin: -1.6% 0 0 91%;
  width: 6%;
}

.formulario__botao__pesquisa svg {
  color: #ffffff;
  bottom: -0.01%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 0%;
}

@media screen and (max-width: 576px) {
  .formulario__botao__pesquisa {
    height: 8vh;
    margin: 0 0 0 75%;
    margin-top: -10%;
    width: 15vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .formulario__botao__pesquisa {
    height: 8vh;
    margin: 0 0 0 85%;
    margin-top: -8%;
    width: 13vw;
  }
}

.detalhes__produto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 2% 4%;
  width: 90%;
}

@media screen and (max-width: 576px) {
  .detalhes__produto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .detalhes__produto {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.detalhes__produto__imagem {
  border: 1px solid #C4C4C4;
  height: 79vh;
  width: 37vw;
  margin: 0%;
}

@media screen and (max-width: 576px) {
  .detalhes__produto__imagem {
    width: 86vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .detalhes__produto__imagem {
    height: 87vh;
    width: 86vw;
  }
}

.detalhes__produto__imagem__destaque {
  height: 95%;
  margin: 2%;
  width: 95%;
}

.detalhes__produto__conteudo, .detalhes__descricao__imagens, .detalhes__imagem__descricao, .imagem__botao {
  width: 100%;
}

.detalhes__produto__conteudo .detalhes__produto__conteudo__titulo, .detalhes__descricao__imagens .detalhes__produto__conteudo__titulo, .detalhes__imagem__descricao .detalhes__produto__conteudo__titulo, .imagem__botao .detalhes__produto__conteudo__titulo {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.detalhes__produto__conteudo__descericao {
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 160%;
}

.detalhes__descricao__imagens {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% 0 0 0;
}

.detalhes__imagem__borda {
  border: 1px solid #C4C4C4;
  height: 25vh;
  padding: 1%;
  width: 10vw;
  margin: 0%;
}

@media screen and (max-width: 576px) {
  .detalhes__imagem__borda {
    height: 37vh;
    width: 43vw;
    margin: .2%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .detalhes__imagem__borda {
    height: 28vh;
    width: 21vw;
    margin: .2%;
  }
}

.detalhes__imagem__descricao {
  height: 100%;
}

.imagem__botao {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 0 0 0;
}

.imagem__botao .imagem__botao__tamanho {
  border: 1px solid #C4C4C4;
  border-radius: 15%;
  height: 5vh;
  -ms-grid-column: 1;
  grid-column: 1;
  margin: 1%;
  top: 10vw;
  width: 2.3vw;
}

@media screen and (max-width: 576px) {
  .imagem__botao .imagem__botao__tamanho {
    height: 5vh;
    width: 5vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .imagem__botao .imagem__botao__tamanho {
    height: 5vh;
    width: 5vw;
  }
}

.botao__compra {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C7947;
  border-radius: 1vh;
  border: 1px solid #C4C4C4;
  color: #f3eded;
  display: -ms-grid;
  display: grid;
  font-weight: bold;
  font-size: 1.7rem;
  height: 3vw;
  line-height: 6vh;
  width: 50%;
}

@media screen and (max-width: 576px) {
  .botao__compra {
    height: 8vh;
    line-height: 8vh;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .botao__compra {
    height: 8vh;
    line-height: 8vh;
  }
}

.botao__iamgem__svg {
  place-self: end;
  margin-top: 3%;
  min-block-size: -webkit-fit-content;
  min-block-size: -moz-fit-content;
  min-block-size: fit-content;
}

.banner {
  background: #151515;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 31%;
  height: 10vw;
  margin: 1% 0 0 4%;
  width: 90%;
}

@media screen and (max-width: 576px) {
  .banner {
    height: 26vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner {
    height: 26vw;
  }
}

.banner__conteudo {
  grid-column: 1 / -1;
}

.banner__conteudo__texto, .banner__conteudo__titulo {
  color: #f3eded;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 5% 0 0 0;
}

@media screen and (max-width: 576px) {
  .banner__conteudo__texto, .banner__conteudo__titulo {
    font-size: 2em;
    margin: 8% 0 0 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner__conteudo__texto, .banner__conteudo__titulo {
    font-size: 2.5em;
    margin: 10% 0 0 0;
  }
}

.banner__conteudo__titulo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4vh;
  margin: .3% 0 0 0;
}

@media screen and (max-width: 576px) {
  .banner__conteudo__titulo {
    font-size: 2.2rem;
    margin: .3% 0 0 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner__conteudo__titulo {
    font-size: 2.5rem;
    margin: .3% 0 0 0;
  }
}

.banner__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.banner__logo .logo__titulo {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: end;
  line-height: 1vh;
  margin: 7% 0 0 0;
}

@media screen and (max-width: 576px) {
  .banner__logo .logo__titulo {
    font-size: 2.2rem;
    line-height: 1.6vh;
    margin: 21% 0 0 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner__logo .logo__titulo {
    font-size: 2.5rem;
    line-height: 1.6vh;
    margin: 23% 0 0 0;
  }
}

.banner__logo .logo__texto {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  text-align: end;
  margin-top: 1%;
}

.sugestao__compra {
  margin: 0 0 0 4%;
  width: 90%;
}

.sugestao__compra__titulo {
  color: #000000;
  font-size: 2.1rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2%;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__titulo {
    font-size: 1.8rem;
    text-align: center;
    line-height: 100%;
  }
}

.sugestao__compra__conteudo {
  display: -ms-grid;
  display: grid;
  gap: 10em;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 95%;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__conteudo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sugestao__compra__conteudo {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.sugestao__compra__imagem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2%;
          flex: 1 1 2%;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__imagem {
    margin: 0 20% 0 22%;
  }
}

.sugestao__compra__imagem__borda {
  border: 1px solid #C4C4C4;
  display: -ms-grid;
  display: grid;
  height: 42vh;
  margin: 0%;
  width: 17vw;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__imagem__borda {
    height: 45vh;
    margin: 0%;
    width: 47vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sugestao__compra__imagem__borda {
    height: 45vh;
    width: 36vw;
  }
}

.sugestao__compra__imagem__tamanhos {
  height: 220px;
  margin: 2%;
  width: 220px;
}

.sugestao__compra__imagem__botao {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.sugestao__compra__imagem__botao__tamanho {
  border: 1px solid #C4C4C4;
  border-radius: 15%;
  -ms-grid-column: 1;
  grid-column: 1;
  height: 4vh;
  margin: 1%;
  width: 2vw;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__imagem__botao__tamanho {
    height: 4vh;
    width: 5vw;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sugestao__compra__imagem__botao__tamanho {
    height: 5vh;
    width: 5vw;
  }
}

.sugestao__compra__texto {
  font-weight: 400;
  font-size: 2.9em;
  height: 8%;
  text-align: start;
  width: 100%;
}

.sugestao__compra__preco {
  color: #fa3939;
  font-weight: bold;
  font-size: 4em;
  line-height: 0%;
  text-align: start;
  width: 100%;
  margin-top: -9%;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__preco {
    text-align: center;
    margin-top: 0%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sugestao__compra__preco {
    margin-top: 0%;
  }
}

.sugestao__compra__botao__sacola {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C7947;
  border-radius: 1vh;
  border: 1px solid #C4C4C4;
  color: #f3eded;
  display: -ms-grid;
  display: grid;
  font-weight: bold;
  font-size: 1.7rem;
  height: 3vw;
  line-height: 6vh;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .sugestao__compra__botao__sacola {
    height: 8vh;
    line-height: 8vh;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .sugestao__compra__botao__sacola {
    height: 8vh;
    line-height: 8vh;
  }
}

.sugestao__compra__botao__svg {
  place-self: end;
  margin-top: 3%;
  min-block-size: -webkit-fit-content;
  min-block-size: -moz-fit-content;
  min-block-size: fit-content;
}

.rodape {
  background: #151515;
  margin-top: 5%;
  height: 20%;
  width: 100%;
}

.rodape p a {
  color: #f3eded;
}

.rodape__logo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.rodape__logo .logo__titulo {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 90%;
  margin: 1% 0 0 4%;
}

@media screen and (max-width: 576px) {
  .rodape__logo .logo__titulo {
    font-size: 2rem;
  }
}

.rodape__logo .logo__texto {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #f3eded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  margin: 0 0 0 15%;
}

@media screen and (max-width: 576px) {
  .rodape__logo .logo__texto {
    font-size: 1.8em;
    margin: 0 0 0 22%;
  }
}

.conteudo__rodape {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4% 0 4%;
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .conteudo__rodape {
    width: 90%;
  }
}

h4 {
  color: #f3eded;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.5rem;
}

@media screen and (max-width: 576px) {
  h4 {
    font-size: 2.2em;
  }
}

.rodape__itens__menu {
  font-weight: normal;
  font-size: 1.8em;
  line-height: 197%;
  list-style-type: none;
}

.rodape__itens__menu a {
  color: #f3eded;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .rodape__itens__menu {
    font-size: 1.5em;
  }
}

.rodape__link__redeSociais {
  margin-top: 1%;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .rodape__link__redeSociais {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    text-align: right;
    max-width: 50%;
    margin: 5%;
  }
}

.rodape__contato__conteudo {
  color: #f3eded;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 197%;
}

.rodape__contato__conteudo svg {
  height: 15%;
  margin-left: 7%;
  width: 15%;
}

@media screen and (max-width: 576px) {
  .rodape__contato__conteudo {
    font-size: 1.5em;
  }
}

.newsletter, .newletter__botao {
  width: 25%;
}

@media screen and (max-width: 576px) {
  .newsletter, .newletter__botao {
    width: 19%;
  }
}

.rodape__newsletter {
  background: #f3eded;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.5vh;
  width: 50%;
}

@media screen and (max-width: 576px) {
  .rodape__newsletter {
    width: 90%;
    margin: 0 0 0 1%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .rodape__newsletter {
    width: 70%;
  }
}

.newletter__botao {
  background: #C4C4C4;
  height: 4vh;
}

@media screen and (max-width: 576px) {
  .newletter__botao {
    width: 95%;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .newletter__botao {
    width: 70%;
  }
}
/*# sourceMappingURL=detalhes.css.map */