html, body {
  background-color: #ffffff;
  font-family: Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  font-size: 62.5%;
  color: #000000;
}

html *, body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cabecalho {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5%;
  margin: 0 0 0 4%;
  width: 90%;
}

.cabecalho__logo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -ms-grid;
  display: grid;
}

.cabecalho__logo__titulo {
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 73%;
  -webkit-margin-after: 0%;
          margin-block-end: 0%;
}

.cabecalho__logo__texto {
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: auto;
}

.cabecalho__vetor {
  margin: 0 5% 0 0;
  border: 1px solid #C4C4C4;
  border-radius: 15%;
}

.menu {
  background: #151515;
  height: 10vh;
  left: 0px;
  top: 23%;
  width: 100%;
}

.menu__lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__link {
  color: #f3eded;
  font-weight: 400;
  font-size: 2.8em;
  line-height: 10vh;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  top: 4vh;
}

.formulario {
  display: -ms-grid;
  display: grid;
}

.formulario__pesquisar {
  border: 1px solid #C4C4C4;
  font-size: 2.5em;
  height: 128%;
  margin: 1% 0 0 4%;
  top: 40%;
  width: 85%;
}

.formulario__botao__pesquisa {
  border: 1px solid #C4C4C4;
  border-radius: 1vh;
  background: #000000;
  height: 130%;
  margin: -1.6% 0 0 91%;
  width: 6%;
}

.formulario__botao__pesquisa svg {
  color: #ffffff;
  bottom: -0.01%;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  top: 0%;
}

.produto__lista {
  margin: 0 0 0 4%;
  width: 90%;
}

.produto__lista__titulo {
  color: #000000;
  font-size: 2.1rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2%;
}

.produto__lista__conteudo {
  display: -ms-grid;
  display: grid;
  gap: 10em;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  max-width: 95%;
}

.produto__lista__imagem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 2%;
          flex: 1 1 2%;
}

.produto__lista__imagem__borda {
  border: 1px solid #C4C4C4;
  display: -ms-grid;
  display: grid;
  height: 42vh;
  margin: 0%;
  width: 17vw;
}

.produto__lista__imagem__tamanhos {
  height: 220px;
  margin: 2%;
  width: 220px;
}

.produto__lista__imagem__botao {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.produto__lista__imagem__botao__tamanho {
  border: 1px solid #C4C4C4;
  border-radius: 15%;
  -ms-grid-column: 1;
  grid-column: 1;
  height: 4vh;
  margin: 1%;
  width: 2vw;
}

.produto__lista__texto {
  font-weight: 400;
  font-size: 2.9em;
  height: 8%;
  text-align: start;
  width: 100%;
}

.produto__lista__preco {
  color: #fa3939;
  font-weight: bold;
  font-size: 4em;
  line-height: 0%;
  text-align: start;
  width: 100%;
  margin-top: 0%;
}

.produto__lista__botao__sacola {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1C7947;
  border-radius: 1vh;
  border: 1px solid #C4C4C4;
  color: #f3eded;
  display: -ms-grid;
  display: grid;
  font-weight: bold;
  font-size: 1.7rem;
  height: 3vw;
  line-height: 6vh;
  width: 100%;
}

.produto__lista__botao__svg {
  place-self: end;
  margin-top: 3%;
  min-block-size: -webkit-fit-content;
  min-block-size: -moz-fit-content;
  min-block-size: fit-content;
}

.banner {
  background: #151515;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 31%;
  height: 10vw;
  margin: 1% 0 0 4%;
  width: 90%;
}

.banner__conteudo {
  grid-column: 1 / -1;
}

.banner__conteudo .banner__conteudo__texto, .banner__conteudo .banner__conteudo__titulo {
  color: #f3eded;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  margin: 5% 0 0 0;
}

.banner__conteudo .banner__conteudo__titulo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 4vh;
  margin: .3% 0 0 0;
}

.banner__logo {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.banner__logo .logo__titulo {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  text-align: end;
  line-height: 1vh;
  margin: 7% 0 0 0;
}

.banner__logo .logo__texto {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  text-align: end;
  margin-top: 1%;
}

.rodape {
  background: #151515;
  margin-top: 5%;
  height: 20%;
  width: 100%;
}

.rodape p a {
  color: #f3eded;
}

.rodape__logo {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.rodape__logo .logo__titulo {
  color: #f3eded;
  font-family: Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 90%;
  margin: 1% 0 0 4%;
}

.rodape__logo .logo__texto {
  -ms-flex-item-align: end;
      align-self: flex-end;
  color: #f3eded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  margin: 0 0 0 15%;
}

.conteudo__rodape {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 4% 0 4%;
  max-width: 100%;
}

h4 {
  color: #f3eded;
  font-weight: bold;
  font-size: 2.2em;
  line-height: 1.5rem;
}

.rodape__itens__menu {
  font-weight: normal;
  font-size: 1.8em;
  line-height: 197%;
  list-style-type: none;
}

.rodape__itens__menu a {
  color: #f3eded;
  text-decoration: none;
}

.rodape__link__redeSociais {
  margin-top: 1%;
  text-align: center;
}

.rodape__contato__conteudo {
  color: #f3eded;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 197%;
}

.rodape__contato__conteudo svg {
  height: 15%;
  margin-left: 7%;
  width: 15%;
}

.newsletter, .newletter__botao {
  width: 25%;
}

.rodape__newsletter {
  background: #f3eded;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 3.5vh;
  width: 50%;
}

.newletter__botao {
  background: #C4C4C4;
  height: 4vh;
}
/*# sourceMappingURL=index.css.map */