.conteudo_detalhes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
      grid-template-columns: 45% 55%;
  -ms-grid-rows: 10% 35% 35% 10% 10%;
      grid-template-rows: 10% 35% 35% 10% 10%;
  margin: 7.2em 0;
      grid-template-areas: "imagem-principal titulo" "imagem-principal descricao" "imagem-principal produtos" "imagem-principal tamanhos" "imagem-principal botao";
}

@media screen and (max-width: 992px) {
  .conteudo_detalhes {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 13em 40em 18em 5em 6em;
        grid-template-rows: 13em 40em 18em 5em 6em;
        grid-template-areas: "imagem-principal titulo" "imagem-principa descricao" "produtos produtos" "tamanhos tamanhos" "botao botao";
  }
}

@media screen and (max-width: 768px) {
  .conteudo_detalhes {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[6];
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "imagem-principal" "titulo" "descricao" "produtos" "tamanhos" "botao";
  }
}

.detalhes_titulo {
  font-size: 2.4em;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: titulo;
  margin: 0;
}

.detalhes_descricao {
  font-size: 2.4em;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: descricao;
  margin: 0.5em 0;
}

@media screen and (max-width: 1200px) {
  .detalhes_descricao {
    font-size: 2em;
  }
}

.detalhes_imagens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: produtos;
  height: 18em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detalhes_imagens img {
  border: solid 1px #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .detalhes_imagens {
    height: 15em;
  }
}

@media screen and (max-width: 768px) {
  .detalhes_imagens {
    height: 13em;
  }
}

.detalhes_imagem-principal {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: imagem-principal;
  height: 60em;
}

.detalhes_imagem-principal img {
  border: solid 1px #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .detalhes_imagem-principal {
    height: 50em;
  }
}

@media screen and (max-width: 768px) {
  .detalhes_imagem-principal {
    height: 115vw;
  }
}

.imagem-principal_principal {
  height: 100%;
}

.detalhes_tamanhos {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: tamanhos;
}

@media screen and (max-width: 992px) {
  .detalhes_tamanhos {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

.tamanhos_label-sacola {
  font-size: 2em;
  text-align: center;
}

.detalhes_botao-sacola {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: url(../assets/svg/logo-sacola-branca.svg) #2b6099 right no-repeat;
  border: .5em solid transparent;
  color: #ffffff;
  font-size: 20px;
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: botao;
  height: 50px;
  width: 315px;
}

.detalhes_botao-sacola:hover {
  background-color: #134376;
}

@media screen and (max-width: 992px) {
  .detalhes_botao-sacola {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
/*# sourceMappingURL=detalhes.css.map */