@import 'components/details-page/details-section/details';
@import 'components/details-page/recomendations-section/recomendations';
@import 'components/slogan-section/slogan';
@import 'components/footer/footer';
@import 'components/header/header';
@import 'components/navbar/navbar';
@import 'components/searchBar/searchBar';
@import 'components/cart-page/review-section/review';
@import 'assets/var';
@import 'assets/base';