@media (max-width: 480px) {
    .cabecalho {
        width: 96%;
    }
    .logo_titulo {
        font-size: 1.4rem;
    }
    .logo_texto{
        font-size: 1.2em;
    }
    .menu{
        height: 15%;
        width: 100%;
    }
    .menu_item {
        line-height: 6vh;        
    }
    .pesquisar {
        width: 71%;
        height: 10%;
    }
    .botao_pesquisa {
        width: 16%;
        height: 10%;
        margin: 0 0 0 77%;
    }
    .produlo_lista {
        
        width: 59%;
        margin: 4% 0 0 4%;
    }
    .produto_lista_conteudo {
        grid-template-columns: repeat(1, 1fr);
    }    
    .imagem_borda {
        
        width: 104%;
        height: 540px;

    }
    .imagem_tamanhos {
        width: 396px;
        height: 462px;   
    }
    .imagem_botao {
        
        margin: 0 0 3% 0;
    }
    .botao_compra {
        width: 104%;
        font-size: 1.5rem;
        top: 4vh;
    }
    .banner {
        width: 93%;
        top: 620%;
        height: 33%;
    }
    .banner p {
        font-size: 1.3em;
    }
    .banner h3 {
        font-size: 1.8em;
    }
    .produlo_lista2 {
        
        width: 59%;
        margin: 4% 0 0 4%;
        top: 654%;
    }
    .produto_lista2_conteudo {
        
        grid-template-columns: repeat(1, 1fr);
        
    }
    .blog {
        width: 87%;
        margin: 2% 0 0 4%;
        grid-auto-flow: row;
        top: 1223%;
    }
    .blog_principal {
        width: 87%;
    }
    .blog_titulo {
        width: 103%;
    }
    .blog_imagem_principal {
        width: 100%;
        top: 15%;
    }
    .blog_texto_principal {
        width: 94%;
        top: 79%;
    }
    .blog_conteudo {
        margin: 0 0 0 -100%;
    }
    .blog_imagem_secundario {
        top: 96%;
        width: 50%;
    }
    .blog_texto_secudario {
        top: 96%;
        width: 45%;
        margin: 0 0 0 52%;
    }
    .blog_imagem_terceiro {
        top: 134%;
        width: 50%;
    }
    .blog_texto_terceiro {
        top: 134%;
        width: 45%;
        margin: 0 0 0 52%;
    }
    .rodape {
        width: 100%;
        top: 1400%;
        height: 40%;
    }
    .rodape_logo {
        width: 68%;
    }
    .conteudo_rodape {
        margin-top: 10%;
        width: 94%;
    }
    .rodape_Redes {
        width: 17%;
    }
    .rodape_link_redeSociais svg {
        color: #FFFFFF;
    }
    .rodape_newsletter {
        width: 101%;
    }
    .newletter_botao {
        width: 14%;
        height: 8%;
    }
}

@media (min-width: 481px) and (max-width: 624px) {

    .cabecalho {
        width: 95%;
    }
    .logo_texto{
        font-size: 1.2em;
    }
    .menu_item {

        line-height: 3vh;
        
    }
    .pesquisar {
        width: 83%;
        height: 9%;
    }
    .botao_pesquisa {
        height: 9%;
        width: 10%;
        margin: 0 0 0 89%;
    }
    .produlo_lista {
        
        width: 95%;
        margin: 4% 0 0 4%;
    }
    .produto_lista_conteudo {
        grid-template-columns: repeat(2, 1fr);
    }    
    .imagem_borda {
        
        width: 94%;
        height: 315px;

    }
    .imagem_tamanhos {
        width: 242px;
        height: 259px;   
    }
    .imagem_botao {
        
        margin: 0 0 3% 0;
    }
    .botao_compra {
        width: 94%;
        font-size: 1.5rem;
        top: 4vh;
    }
    .banner {
        width: 93%;
        top: 245%
    }
    .banner p {
        font-size: 1.2em;
    }
    .banner h3 {
        font-size: 1.8em;
    }
    .banner_logo .logo_titulo {
        font-size: 2em;
    }
    .banner_logo .logo_texto {
        font-size: 1.2em;
        top: -22px;
    }
    .produlo_lista2 {
        width: 95%;
                
        top: 273%
    }
    .produto_lista2_conteudo {
        
        grid-template-columns: repeat(2, 1fr);
        
    }
    .blog {
        grid-template-columns: 1fr;
        width: 93%;
        
        grid-auto-flow: row;
        top: 463%;
    }
    .blog_titulo {
        width: 93%;
    }
    .blog_imagem_principal {
        width: 93%
    }
    .blog_texto_principal {
        width: 93%
    }
    .blog_imagem_secundario {
        top: 91%;
        width: 43%;
    }
    .blog_texto_secudario {
        top: 91%;
        width: 30%;
        margin: 0 0 0 46%;
    }
    .blog_imagem_terceiro {
        top: 130%;
        width: 43%;
    }
    .blog_texto_terceiro {
        top: 130%;
        width: 30%;
        margin: 0 0 0 46%;
    }
    .rodape {
        width: 100%;
        top: 633%;
        height: 36%;
    }
    .rodape_logo {
        width: 53%;
    }
    .conteudo_rodape {
        margin-top: 8%;
    }
    .rodape_newsletter{
        width: 101%;

    }
    .newletter_botao {
        width: 11%;
        height: 10%
    }
}