    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    html {
        width: 100%;
        margin: auto;
    }
    
    h1 {
        font-size: 3em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h2 {
        font-size: 1.5em;
        margin: 1rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    h3 {
        font-size: 1em;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        padding: 3em 3em 3em 3em;
        background-color: #201E1E;
        color: white;
    }
    
    .header__content__brand {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .header__content__brand p {
        display: flex;
        justify-content: flex-end;
    }
    
    .header__content__shopping-cart button {
        border: none;
        background-color: #201E1E;
        display: flex;
        justify-content: flex-end;
    }
    /* ----------------------------- */
    
    body {
        color: #000000;
    }
    
    main {
        background-color: #E3E3E0;
    }
    
    .main__section--main-menu {
        height: 2.5rem;
        background: #C4C4C4;
        align-content: center;
        padding: 1rem 0 1rem 0;
    }
    
    .main__section--main-menu ul {
        display: flex;
        justify-content: space-around;
        background-color: #C4C4C4;
        padding: 1rem 0 1rem 0;
    }
    
    .main__section--main-menu__itens a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    /* ----------------------------------------- */
    
    .main__section--search-form {
        display: flex;
        flex-direction: row;
        margin: 1.5rem;
    }
    
    .main__section--search-form__input {
        width: 100%;
        height: 100%;
        border: 1px solid #C4C4C4;
        padding: 1rem;
    }
    
    .main__section--search-form button {
        background-color: #C4C4C4;
        border: none;
    }
    /*--------------------------------*/
    
    .main__section--product-list-section-1 {
        margin: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .latest-releases h2 {
        margin: 1.5rem;
    }
    
    .main__section--product-list-section-1__list-itens {
        border: 1px solid #C4C4C4;
        border: none;
    }
    
    .main__section--product-list-section-1__sizes {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .main__section--product-list-section-1__sizes p {
        margin: 0.5rem 0 0.5rem 0.5rem;
    }
    
    .main__section--product-list-section-1__sizes__itens {
        padding: 0.3rem;
        border: 1px solid #C4C4C4;
    }
    
    .item-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .item-price {
        font-weight: bold;
        color: chocolate;
    }
    
    .item-text p {
        margin: 0.5rem 0;
    }
    
    .add-to-bag-button {
        color: #FFFFFF;
        background-color: #008844;
        border-radius: 4px;
        display: grid;
        grid-template-columns: auto auto auto auto auto auto auto auto;
        margin: 0.5rem 0;
        perspective: 500px;
    }
    
    .card-inner {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        display: grid;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        grid-column-start: 1;
        grid-column-end: 8;
    }
    
    .add-to-bag-button:hover {
        opacity: 0.7;
        cursor: pointer;
    }
    
    .card-front {
        grid-column-start: 1;
        grid-column-end: 8;
    }
    
    .card-front,
    .card-back {
        display: grid;
        backface-visibility: hidden;
    }
    
    .card-front__text {
        font-size: 0.8em;
        grid-column-start: 3;
        grid-column-end: 6;
        align-self: center;
    }
    
    .shopping-cart {
        border-radius: 4px;
        background-color: #008844;
        border: none;
        grid-column-start: 8;
    }
    
    .card-back {
        position: absolute;
        background-color: blue;
        justify-content: center;
        transform: rotateY(180deg);
    }
    /*-------------------------------------*/
    
    .banner__wrap {
        background-color: #D6BBA3;
        margin: 1.5rem;
    }
    
    .banner__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3rem;
    }
    
    .banner__text-bottom {
        display: flex;
    }
    
    .banner__text-brand {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
    
    .banner__text-brand h1,
    p {
        display: flex;
        justify-content: flex-end;
    }
    /*-----------------------------*/
    
    .fashion-tips {
        display: flex;
        flex-direction: row;
        margin: 1rem;
    }
    
    .fashion-tips__big-post {
        margin-right: 2rem;
    }
    
    .fashion-tips__big-post p {
        margin-top: 10px;
    }
    
    .fashion-tips__small-post {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    
    .fashion-tips__small-post p {
        margin-left: 10px;
    }
    /*-----------------------------*/
    
    footer {
        background-color: #D6BBA3;
    }
    
    .footer__header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3em 3em;
    }
    
    .content-brand {
        display: flex;
        flex-direction: column;
    }
    
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 3em 3em 3em;
        flex-wrap: wrap;
    }
    
    .footer-menu ul {
        display: flex;
        flex-direction: column;
    }
    
    .footer-menu a {
        text-decoration: none;
    }
    
    .footer-menu li {
        margin: 0.5rem 0;
    }
    
    .newsletter__button {
        background-color: black;
        color: white;
    }
    
    .footer-medias img {
        margin: 10px 5px 0 0;
    }
    
    .footer-contact {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .whatsapp,
    .telefone,
    .footer-contact p {
        display: flex;
        margin: 0.5rem 0;
    }
    
    .newsletter {
        display: flex;
        flex-direction: column;
    }
    
    .newsletter div {
        margin: 0.5rem 0;
    }
    /*--------------------------------------------------*/
    
    @media screen and (max-width:1300px) {
        .main__section--product-list-section-1,
        .fashion-tips {
            display: flex;
            flex-wrap: wrap;
        }
        .fashion-tips__blog-posts {
            margin-top: 1rem;
        }
    }
    
    @media screen and (max-width:768px) {
        .fashion-tips__small-post {
            display: flex;
            flex-direction: column;
        }
        .footer-menu,
        .footer-medias,
        .footer-contact,
        .newsletter {
            margin-top: 2rem;
        }
    }
    
    @media screen and (max-width:644px) {
        /*Por enquanto a div do post grande(fashion-tips__big-post) some. Alterar para imagem responsiva*/
        .fashion-tips__big-post {
            display: none;
        }
    }