html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
}

header {
  padding: 20px 0;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
	position: relative;
	width: 75vw;
  padding: 20px 0;
	margin: 0 auto;
}

.cabecalho__reviva {
  width: 25vw;
}

.cabecalho__reviva--titulo {
  font-size: 3rem;
}

.cabecalho__reviva--paragrafo {
  margin-left: 160px;
}

.cabecalho__carrinho {
  margin-right: 30px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: #bbb;
  height: 30px;
}

.menu__lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
}

.menu__lista--link {
  color: #2b2b2b;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.principal {
  width: 100%;
  margin: auto;
  font-size: 1.5rem;
}

.busca {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  margin-top: 20px;
}

.busca__input {
  width: 100%;
  margin-right: 1%;
}

img.busca__botao--lupa {
  width: 50%;
  height: 30px;
}

.ultimos-lancamentos {
  width: 75vw;
  padding: 20px 0;
  margin: auto;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.produtos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.produto__caixa {
  border: 2px solid rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
}

.produto__caixa img {
  width: 80%;
  padding: 20px 0;
  align-self: center;
}

.produto__caixa--tamanho {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.produto__caixa--tamanho p {
  margin: 0px 3px 5px 0px;
  padding: 2px 5px;
  border: 1px solid rgb(187, 187, 187);
}

.produto__caixa--descricao, 
.produto__caixa--preco, 
.botao__sacola {
  margin-top: 5px;
}

.produto__caixa--preco {
  color: #888;
  font-weight: bolder;
}

.botao__sacola {
  width: 100%;
  text-align: center;
}

.botao__sacola::after {
  content: url(../img/shop.png);
  margin-left: 20px;
}

/* Iniciando a section - Manual de Moda */

.manual {
  width: 75vw;
  height: 150px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc;
  text-align: center;
  line-height: 1.5;
}

.manual p:nth-child(2){
  letter-spacing: 0.5rem;
}


.manual__reviva {
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  align-self: flex-end;
}