body {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  margin: 0;
}

.cabecalho {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 18em;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  padding: 0 6em;
}

.cabecalho_logo {
  text-align: end;
}

.logo_superior {
  font-size: 3.6em;
  margin: .4em 0 0 0;
}

.logo_inferior {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.cabecalho_carrinho {
  transition: .4s all;
}

.cabecalho_carrinho:hover {
  transform: scale(1.1);
}

.menu-navegacao {
  background-color: #2b6099;
  color: #ffffff;
}

.menu-navegacao_botao {
  display: none;
}

.menu-navegacao_items {
  align-items: center;
  display: flex;
  font-size: 1.8em;
  font-weight: 700;
  height: 3.5em;
  justify-content: space-around;
  list-style: none;
  margin: auto;
  max-width: 1440px;
  padding: 0;
}

.item_menu-navegacao:hover {
  transform: scale(1.05);
  transition: .2s linear;
}

.item_link {
  color: inherit;
  text-decoration: none;
}

.conteudo {
  box-sizing: border-box;
  margin: auto;
  max-width: 1440px;
  padding: 0 4.2em;
}

.conteudo_pesquisa {
  display: flex;
  height: 5em;
  margin: 1.2em 0;
}

.pesquisa_campo {
  border: solid 1px #C4C4C4;
  box-sizing: border-box;
  font-size: 1.8em;
  padding: 0 1.2em;
  width: 90%;
}

.pesquisa_botao {
  background: #2b6099 center no-repeat url(../assets/svg/logo-pesquisar.svg);
  border: none;
  margin-left: .5%;
  width: 10%;
}

.pesquisa_botao:hover {
  background-color: #134376;
  cursor: pointer;
}

.conteudo_produtos {
  display: flex;
}

.produtos_titulo {
  position: absolute;
}

.produtos_link {
  color: inherit;
  font-size: 1.3em;
  text-decoration: none;
}

.produto {
  display: grid;
  grid-template: auto 4.0em auto 4.0em / 50% 50%;
  margin: 4.2em 2vw;
  width: 100%;
  grid-template-areas:
    "imagem imagem"
    "imagem imagem"
    "detalhes detalhes"
    "botao botao";
}

.produto:nth-child(5) {
  margin-right: 0;
}

.produto:nth-child(2) {
  margin-left: 0;
}

.produto_link-imagem {
  background-color: #ffffff;
  grid-area: imagem;
}

.produto_imagem {
  border: #C4C4C4 1px solid;
  box-sizing: border-box;
  height: 100%;
  padding: .3em;
  width: 100%;
}

.produto_tamanhos {
  display: flex;
  font-size: 1.8em;
  font-weight: 800;
  grid-area: 2 / 1 / 3 / 3;
  justify-content: space-around;
  justify-self: flex-end;
  margin: 0 .5em;
  padding: 0;
  text-align: center;
}

.tamanhos_input {
  display: none;
}

.tamanhos_input:checked+.tamanhos_label {
  background-color: black;
  border: solid 1px #C4C4C4;
  color: #FFFFFF;
  font-weight: bold;
}

.tamanhos_label {
  background-color: #ffffffad;
  border-radius: .3em;
  border: solid 1px;
  box-sizing: border-box;
  display: inline-block;
  height: 1.5em;
  margin: .2em;
  padding-top: .1em;
  width: 1.5em;
}

.tamanhos_label:hover {
  background-color: #e6e6e6;
  box-shadow: 1px 1px 2px 1px #00000044;
  cursor: pointer;
}

.produtos_especificacoes {
  color: inherit;
  font-size: 1.8em;
  grid-area: detalhes;
  text-decoration: none;
}

.especificacoes_nome {
  font-weight: 400;
  height: 3.5em;
  margin: .3em 0;
  overflow: hidden;
}

.especificacoes_valor {
  font-family: 'Franklin Gothic Medium';
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

.produto_botao-sacola {
  background: url(../assets/svg/logo-sacola-branca.svg) #2b6099 right no-repeat;
  border: .5em solid transparent;
  color: #ffffff;
  font-size: 1.4em;
  grid-area: botao;
}

.produto_botao-sacola:hover {
  background-color: #134376;
  cursor: pointer;
}

.conteudo_banner {
  align-items: center;
  background: left/cover url(../assets/img/banner.jpg);
  color: inherit;
  display: flex;
  font-weight: bold;
  height: 20em;
  justify-content: center;
  position: relative;
  text-decoration: none;
  margin: 2em 0;
}

.banner_texto {
  font-size: 2.0em;
  letter-spacing: .5em;
  text-align: center;
}

.banner_texto::first-line {
  letter-spacing: 0;
}

.banner_logo {
  bottom: 0;
  font-size: .9em;
  margin: 1em;
  position: absolute;
  right: 0;
  text-align: end;
}

.conteudo_noticias-blog {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(4, 24%);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "titulo titulo titulo titulo"
    "banner-1 banner-1 banner-2 texto-2"
    "banner-1 banner-1 banner-2 texto-2"
    "banner-1 banner-1 banner-3 texto-3"
    "texto-1 texto-1 banner-3 texto-3";
}

.noticias-blog_titulo {
  font-size: 2.2em;
  grid-area: titulo;
  margin: 2em 0 0 0;
}

.noticias-blog_imagem-1 {
  grid-area: banner-1;
  height: 100%;
  width: 100%;
}

.noticias-blog_texto-1 {
  color: inherit;
  font-size: 2.2em;
  grid-area: texto-1;
  text-decoration: none;
  width: 90%;
}

.noticias-blog_imagem-2 {
  grid-area: banner-2;
  width: 100%;
}

.noticias-blog_texto-2 {
  color: inherit;
  font-size: 2em;
  grid-area: texto-2;
  text-decoration: none;
}

.noticias-blog_imagem-3 {
  grid-area: banner-3;
  width: 100%;
}

.noticias-blog_texto-3 {
  color: inherit;
  font-size: 2em;
  grid-area: texto-3;
  text-decoration: none;
}

.base-rodape {
  background-color: #2b6099;
}

.rodape {
  background-color: #2b6099;
  box-sizing: border-box;
  color: #ffffff;
  display: grid;
  grid-template-columns: 21% 21% 21% 37%;
  grid-template-rows: 30% 70%;
  margin: 7.2em auto auto auto;
  max-width: 1440px;
  padding: 4.2em 4.2em;
  grid-template-areas:
    "logo logo logo logo"
    "menu sociais contato newsletter";
}

.rodape_logo {
  color: inherit;
  grid-area: logo;
  text-align: end;
  text-decoration: none;
  width: 25.4em;
}

.rodape_menu-navegacao {
  font-size: 1.8em;
  grid-area: menu;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-navegacao_titulo {
  font-weight: bold;
  margin: 0 0 .7em 0;
}

.menu-navegacao_item {
  margin: 0 0 .7em 0;
}

.menu-navegacao_link {
  color: inherit;
  text-decoration: none;
}

.menu-navegacao_link:hover {
  font-weight: bolder;
}

.rodape_redes-sociais {
  grid-area: sociais;
  justify-self: center;
  margin: 0;
  padding: 0;
}

.redes-sociais_titulo {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

.redes-sociais_lista-icones {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 80%;
}

.lista-icones_icone {
  transition: .2s all ease-in-out;
}

.lista-icones_icone:hover {
  margin: 0 1em;
  transform: scale(1.1);
}

.rodape_contatos {
  grid-area: contato;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 90%;
  word-wrap: break-word;
}

.rodape_contatos::first-line {
  font-weight: bold;
}

.contatos_item {
  font-size: 1.8em;
  margin: 0 0 .7em 0;
}

.contatos_link {
  color: inherit;
  text-decoration: none;
}

.contatos_link:hover {
  font-weight: bold;
}

.contato_icone-whatsapp {
  height: 1em;
  margin-left: .3em;
}

.contatos_link-whats::after {
  background: center/100% url(../assets/svg/logo-whats.svg);
  content: "";
  display: inline-block;
  height: .8em;
  margin: 0 .2em;
  width: .8em;
}

.contato_icone-telefone {
  height: 1em;
  margin-left: .3em;
}

.contatos_link-tel::after {
  background: center/100% url(../assets/svg/logo-telefone.svg);
  content: "";
  display: inline-block;
  height: .8em;
  margin: 0 .2em;
  width: .8em;
}

.rodape_newsletter {
  align-content: flex-start;
  border: none;
  display: flex;
  flex-wrap: wrap;
  grid-area: newsletter;
  justify-content: space-between;
  justify-self: end;
  list-style: none;
  padding: 0;
  width: 90%;
}

.newsletter_label {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: .5em;
}

.newsletter_input {
  border: none;
  box-sizing: border-box;
  font-size: 1.7em;
  height: 2em;
  padding: 0 .5em;
  width: 65%;
}

.newsletter_botao {
  background-color: #0d335b;
  border: none;
  color: white;
  font-size: 1.4em;
  margin-left: .2em;
  width: 33%;
}

.newsletter_botao:hover {
  background-color: #134376;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .conteudo_banner {
    height: 15em;
  }

  .banner_texto {
    font-size: 1.6em;
  }

  .banner_logo {
    font-size: .7em;
  }

  .especificacoes_nome {
    font-size: .9em;
  }

  .redes-sociais_lista-icones {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  .cabecalho {
    padding: 0 3em;
  }

  .produto {
    margin: 4.2em 2vw;
  }

  .produto:nth-child(4) {
    display: none;
  }

  .especificacoes_nome {
    font-size: .8em;
  }

  .conteudo_banner {
    height: 12em;
  }

  .banner_texto {
    font-size: 1.2em;
  }

  .banner_logo {
    font-size: .5em;
  }

  .noticias-blog_texto-1 {
    font-size: 1.6em;
  }

  .noticias-blog_texto-2 {
    font-size: 1.6em;
  }

  .noticias-blog_texto-3 {
    font-size: 1.6em;
  }

  .rodape {
    gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8em 1fr 1fr;
    padding: 1em;
    grid-template-areas:
      "logo logo"
      "menu sociais"
      "contato newsletter";
  }

  .rodape_logo {
    margin: auto;
  }

  .rodape_menu-navegacao {
    justify-self: center;
  }

  .menu-navegacao_titulo {
    text-align: center;
  }

  .menu-navegacao_item {
    text-align: center;
  }

  .rodape_redes-sociais {
    justify-self: center;
  }

  .redes-sociais_lista-icones {
    justify-content: space-around;
    width: 100%;
  }

  .rodape_contatos {
    text-align: center;
    width: 100%;
  }

  .rodape_newsletter {
    justify-content: center;
    justify-self: center;
  }

  .newsletter_label {
    margin: 0;
  }

  .newsletter_input {
    margin: 0;
    width: 20em;
  }

  .newsletter_botao {
    height: 2em;
    margin: .3em auto;
  }
}

@media screen and (max-width: 768px) {
  .menu-navegacao {
    display: flex;
    height: 6.2em;
  }

  .menu-navegacao_botao {
    background: no-repeat left url(../assets/svg/logo-menu.svg);
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 1.7em;
    font-weight: bold;
    margin: 0 1em;
    text-align: end;
    width: 5em;
  }

  .menu-navegacao_items {
    background-color: #2b6099;
    border-radius: 0 0 30px;
    font-size: 1.6em;
    flex-direction: column;
    height: 50vh;
    left: -100vw;
    line-height: 1.5em;
    margin-top: 3.2em;
    padding: 0 2em;
    position: absolute;
    text-align: center;
    transition: .5s all;
    width: 40%;
    z-index: 999;
  }

  .item_menu-navegacao {
    width: 100%;
  }

  .menu-navegacao--ativo {
    left: 0;
  }

  .menu-navegacao_botao:hover {
    cursor: pointer;
  }

  .pesquisa_campo {
    font-size: 1.5em;
  }

  .conteudo {
    padding: 2em;
  }

  .produto {
    margin: 5em auto 0 auto;
    width: 45%;
  }

  .produto:nth-child(2) {
    margin-left: auto;
  }

  .produto:nth-child(4) {
    display: grid;
  }

  .produto:nth-child(5) {
    margin-right: auto;
  }

  .conteudo_produtos {
    flex-wrap: wrap;
  }

  .produto_botao-sacola {
    background-image: url();
  }

  .conteudo_banner {
    background: left/100% no-repeat url(../assets/img/banner-menor.jpg);
    height: 18em;
    justify-content: flex-end;
    margin: 4em 0;
  }

  .banner_texto {
    display: none;
    font-size: 1.6em;
    letter-spacing: normal;
    margin: 0 1em 3em 0;
    width: 50%;
  }

  .conteudo_noticias-blog {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
      "titulo"
      "banner-1"
      "texto-1"
      "banner-2"
      "texto-2"
      "banner-3"
      "texto-3";
  }

  .noticias-blog_titulo {
    font-size: 1.8em;
  }

  .noticias-blog_texto-1,
  .noticias-blog_texto-2,
  .noticias-blog_texto-3 {
    font-size: 2em;
  }

  .rodape {
    grid-template-columns: 1fr;
    grid-template-rows: 8em;

    grid-template-areas:
      "logo"
      "menu"
      "contato"
      "newsletter"
      "sociais";
  }

  .newsletter_input {
    width: 85%;
  }

  .newsletter_botao {
    height: max-content;
  }
}

@media screen and (max-width: 576px) {
  .cabecalho_logo{
    font-size: .8em;
  }

  .pesquisa_campo {
    padding: .2em;
    width: 100%;
  }

  .pesquisa_campo::placeholder {
    font-size: .8em;
  }

  .pesquisa_botao {
    display: none;
  }

  .produto {
    width: 100%;
  }

  .conteudo_banner {
    height: 12em;
  }

  .banner_texto {
    display: none;
  }

  .banner_logo {
    display: none;
  }
}