@import '../abstract/variaveis';

.principal {
  width: 100%;
  margin: 5rem auto;
  font-size: 1.3rem;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    width: 75vw;
    margin: 0 auto 2rem auto;
  }
  .box {
    display: flex;
    flex-direction: row;
    width: 75vw;
    margin: 0 auto;
  }
  .carrinho {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 1rem;
    &__grid {
      display: grid;
      grid-template-columns: repeat(6, auto);
      gap: 0 1.5rem;
      margin-bottom: 3rem;
      &__titulo {
        font-weight: bold;
        padding-bottom: 1rem;
      }
      &__imagem {
        width: 160px;
        height: 160px;
        border: 1px solid $cor-secundaria;
        text-align: center;
      }
      &__tamanho {
        &__select {
          display: flex;
          flex-direction: row;
          button {
            margin-left: 1rem;
          }
          input[type="radio"] {
            display: none;
            &:checked {
              + {
                button {
                  background-color: $cor-terciaria;
                  border: none;
                  color: white;
                  font-size: 1.5rem;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      &__valor {
        color: #888;
        font-weight: bolder;
      }
    }
    &__quantidade {
      #qtd {
        width: 60px;
        font-size: 1.7rem;
      }
    }
  }
  .total {
    width: 20%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: min-content;
    justify-content: space-between;
    gap: 2rem;
    background: $cor-secundaria;
    font-size: 1.5rem;
    font-weight: bold;
    &__titulo {
      grid-column: span 2;
    }
    &__botao {
      grid-column: span 3;
      margin-top: 10rem;
    }
  } 
}

@include componentizacao