@import '../abstract/variaveis';

.detalhes__produto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 2% 4%;
    width: 90%;
}

.detalhes__produto__imagem {
    @include border__img;

    height: 90%;
    width: 80%;        
}
.detalhes__produto__imagem__destaque {
    height: 95%;
    margin: 2%;
    width: 95%;
}

.detalhes__produto__conteudo {
    width: 100%;
    .detalhes__produto__conteudo__titulo {
        color: $color_text;
        font-style: normal;
        font-weight: 700;
        font-size: 20em;
    }
}
.detalhes__produto__conteudo__descericao {
    color: $color_text;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 160%;
}
.detlahes__descricao__imagens {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0 0 0;
    @extend .detalhes__conteudo;
}
.detalhes__imagem__borda {
    @include border__img;
    height: 15%;
    padding: 1%;           
    width: 24%;
}
.detalhes__imagem__descricao {
    height: 100%;
    @extend .detalhes__conteudo;
}
.imagem__botao {
    align-items: flex-start;
    display: flex;        
    margin: 10% 0 0 0;
    @extend .detalhes__conteudo;
        .botao__tamanho {
            @include border__tamanho;
            height: 2.3vw;
            grid-column: 1;
            margin:  1%;
            top: 10vw;
            width: 5%;
        }
}
.botao__compra{
    @include button__sacola;
    width: 40%;
}    
.iamgem__svg {
    @include button__svg__sacola;
}