@import '../abstract/variaveis';

.detalhes__produto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 2% 4%;
    width: 90%;
}

.detalhes__imagem {
    border: 1px solid $color-border;
    box-sizing: border-box;

    height: 90%;
    width: 80%;        
}
.detalhes__imagem__destaque {
    height: 95%;
    margin: 2%;
    width: 95%;
}

.detalhes__conteudo {
    width: 100%;
}             

.detalhes__titulo {
    color: $color_text;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}
.detalhes__descericao {
    color: $color_text;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 160%;
}
.detlahes__descricao__imagens {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0 0 0;
    @extend .detalhes__conteudo;
}
.detalhes__imagem__borda {
    border: 1px solid $color-border;
    box-sizing: border-box;
    height: 15%;
    padding: 1%;           
    width: 24%;
}
.detalhes__imagem__descricao {
    height: 100%;
    @extend .detalhes__conteudo;
}
.imagem__botao {
    align-items: flex-start;
    display: flex;        
    margin: 10% 0 0 0;
    @extend .detalhes__conteudo;
        .botao__tamanho {
            border: 1px solid $color-text;
            box-sizing: border-box;
            height: 2.3vw;
            grid-column: 1;
            margin:  1%;
            top: 10vw;
            width: 5%;
        }
}
.botao__compra{
    align-items: center;
    background: $color-background-destaque;
    color: $color-text-destaque;
    display: grid; 
    font-weight: bold;
    font-size: 1.7rem;
    height: 3vw;
    line-height: 6vh;
    width: 40%;
}    
.iamgem__svg {
    place-self: end;
    margin-top: 3%;
    min-block-size: fit-content;
}