@import '../abstract/variaveis';

.detalhes__produto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin: 2% 4%;
    width: 90%;
    @media screen and (max-width: 576px){
        grid-template-columns: 1fr;
    }
}

.detalhes__produto__imagem {
    @include border__img;

    height: 79vh;
    width: 37vw;
    margin: 0%; 
    @media screen and (max-width: 576px){
        width: 86vw;
    }       
}
.detalhes__produto__imagem__destaque {
    height: 95%;
    margin: 2%;
    width: 95%;
}

.detalhes__produto__conteudo {
    width: 100%;
    .detalhes__produto__conteudo__titulo {
        color: $color_text;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
    }
}
.detalhes__produto__conteudo__descericao {
    color: $color_text;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 160%;
}
.detalhes__descricao__imagens {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5% 0 0 0;
    @extend .detalhes__produto__conteudo;
}
.detalhes__imagem__borda {
    @include border__img;
    height: 25vh;
    padding: 1%;
    width: 10vw;
    margin: 0%;
    @media screen and (max-width: 576px){
        height: 37vh;
        width: 43vw;
        margin: .2%;
    } 
}
.detalhes__imagem__descricao {
    height: 100%;
    @extend .detalhes__produto__conteudo;
}
.imagem__botao {
    align-items: flex-start;
    display: flex;        
    margin: 10% 0 0 0;
    @extend .detalhes__produto__conteudo;
        .imagem__botao__tamanho {
            @include border__tamanho;
            height: 5vh;
            grid-column: 1;
            margin:  1%;
            top: 10vw;
            width: 2.3vw;
            @media screen and (max-width: 576px){
                height: 5vh;
                width: 5vw;
            }
        }
}
.botao__compra{
    @include button__sacola;
    width: 50%;
}    
.botao__iamgem__svg {
    @include button__svg__sacola;
}