@import '../abstract/variaveis';

.formulario {
    display: grid;
}
.formulario__pesquisar {
    border: 1px solid $color_border;
    font-size: 2.5em;
    height: 128%;
    margin: 1% 0 0 4%;
    top: 40%;
    width: 85%;
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 70%;
        font-size: 2.3em;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        width: 80%;
    }
}
.formulario__botao__pesquisa {
    @include border__pesquisa;
    background: $color_text;
    height: 130%;
    margin: -1.6% 0 0 91%;
    width: 6%;
    svg {
        color: $color_background;
        bottom: -0.01%;    
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0%;
    }
    @media screen and (max-width: 576px){
        height: 8vh;
        margin: 0 0 0 75%;
        margin-top: -10%;
        width: 15vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        margin: 0 0 0 85%;
        margin-top: -8%;
        width: 13vw;
    }
}