@import '../abstract/variaveis';

.minha__sacola {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(3, 15%) repeat(3, 10%) 18%;
    
    margin: 2% 4%;
    width: 90%;
}
.minha__sacola__imagem {
    @include border__img;
    height: 95%;
    width: 100%;
}
.minha__sacola__imagem__produto {
    height: 95%;
    margin: 2%;
    width: 95%;
}

.produto__titulo {
    color: $color_text;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3em;
    line-height: 5vh;
}
.produto__descericao {
    @extend .produto__titulo;
    font-weight: 400;
    font-size: 2.1em;
    line-height: 0vh;
}
.imagem__botao {
    align-items: flex-start;
    display: flex;
    gap: 1em;       
    width: 100%;
}
.botao__tamanho {
    width: 15%;
    height: 5vh;

    @include border__tamanho;
}
.produto__preco {
    color: $color-preco;
    font-weight: bold;
    font-size: 3em;
    line-height: 0%;
    text-align: start;
    width: 100%;
}
.botao__quantidade {
    display: flex;
    gap: 1em;
    
    height: 0%;
    line-height: 0%;
}
.quantidade__botao {
    background-color: $color-background;
    border: none;
    color: $color-preco;
}
.quantidade__valor {
    color: $color-preco;
    font-weight: bold;
    font-size: 3em;
    margin-top: 5%;
    
}
.total__produto {
    background-color: #EDEDED;
    width: 125%;
    grid-row: span 2 / span 2;
}
.total__final {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}
.total__conteudo {
    @extend .produto__titulo;
    font-size: 2.3rem;
    line-height: 5vh;
}
.botao__produto {
    margin-top: 50%;
    margin-left: 10%;
}
.botao__produto__pagamento {
    @include button__sacola;
    width: 90%;
}
.minha__sacola__imagem2 {
    @extend .minha__sacola__imagem;
}