@import '../abstract/variaveis';

/*Menu*/

.menu {
    background: $color-background-destaque;
    height: 10vh;
    left: 0px;
    top: 23%;
    width: 100%;
}
.menu__lista {
    display: flex;
    justify-content: space-evenly;
}
.menu__item {
    font-weight: 400;
    font-size: 2.8em;
    line-height: 10vh;        
    top: 4vh;
    justify-content: space-between;
}
.menu__link {
    color: $color-text-destaque;
    text-decoration: none;
}        