@import '../abstract/variaveis';

.rodape {
    background: $color-background-destaque;
    margin-top: 5%;
    height: 20%;
    width: 100%;
    p a {
        color: $color-text-destaque;
    } 
}
.rodape__logo {
    align-items: end;
    .logo__titulo {
        color: $color-text-destaque;
        font-family: $font;
        font-size: 3rem;
        font-weight: 400;
        line-height: 90%;
        margin: 1% 0 0 4%;
        @media screen and (max-width: 576px){
            font-size: 2rem;
        }
    }
    .logo__texto {
        align-self: flex-end;
        color: $color-text-destaque;
        display: flex;

        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        margin: 0 0 0 15%;
        @media screen and (max-width: 576px){
            font-size: 1.8em;
            margin: 0 0 0 22%;
        }
    }
}
.conteudo__rodape {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin: 0 4% 0 4%;
    max-width: 100%;
    @media screen and (max-width: 576px){
        width: 90%;
    }
}
h4 {
    color: $color-text-destaque;
    font-weight: bold;
    font-size: 2.4em;
    line-height: 1.5rem;
    @media screen and (max-width: 576px){
        font-size: 2.2em;
    }
}
.rodape__itens__menu {
    font-weight: normal;
    font-size: 1.8em;
    line-height: 197%;
    list-style-type: none;
    a {
        color: $color-text-destaque;
        text-decoration: none;
    }
    @media screen and (max-width: 576px){
        font-size: 1.5em;
    }
    
}
.rodape__link__redeSociais {
    margin-top: 1%;
    text-align: center;
    @media screen and (max-width: 576px){
        grid-template-columns: repeat(2, 1fr);
        text-align: right;
        max-width: 50%;
        margin: 5%;
    }
}
.rodape__contato__conteudo {
    color: $color-text-destaque;
    font-weight: normal;
    font-size: 1.8em;
    line-height: 197%;
    svg{
        height: 15%;
        margin-left: 7%;
        width: 15%;
    }
    @media screen and (max-width: 576px){
        font-size: 1.5em;
    }
}
.newsletter{
    width: 25%;
    @media screen and (max-width: 576px){
        width: 19%;
    }
}
.rodape__newsletter{
    background: $color-text-destaque;
    border: 1px solid $color-border;
    box-sizing: border-box;
    height: 3.5vh;
    width: 50%;
    @media screen and (max-width: 576px){
        width: 90%;
        margin: 0 0 0 1%;
    }
}
.newletter__botao {
    background: $color-border;
    height: 4vh;
    @extend .newsletter;
    @media screen and (max-width: 576px){
        width: 95%;
    }
}