@import '../abstract/variaveis';

.sugestao__compra {
    margin: 0 0 0 4%;
    width: 90%;
}
.sugestao__compra__titulo {
    color: $color-text;
    font-size: 2.1rem;
    font-weight: bold;
    font-style: normal;
    line-height: 2%;
    @media screen and (max-width: 576px){
        font-size: 1.8rem;
        text-align: center;
        line-height: 100%;
    }
}
.sugestao__compra__conteudo {
    display: grid;
    gap: 10em;
    grid-template-columns: repeat(4, 1fr);
    max-width: 95%;
    @media screen and (max-width: 576px){
        grid-template-columns: 1fr;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        grid-template-columns: repeat(2, 1fr);
    }
}
.sugestao__compra__imagem {
    flex: 1 1 2%;
    @media screen and (max-width: 576px){
        margin: 0 20% 0 22%
    }
}
.sugestao__compra__imagem__borda {
    @include border__img;

    display: grid;
    height: 42vh;
    margin: 0%;
    width: 17vw;
    @media screen and (max-width: 576px){
        height: 45vh;
        margin: 0%;
        width: 47vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 45vh;
        width: 36vw;
    }
}
.sugestao__compra__imagem__tamanhos {
    height: 220px;
    margin: 2%;
    width: 220px;
}
.sugestao__compra__imagem__botao {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.sugestao__compra__imagem__botao__tamanho {
    @include border__tamanho;
    grid-column: 1;
    height: 4vh;
    margin: 1%;
    width: 2vw;
    @media screen and (max-width: 576px){
        height: 4vh;
        width: 5vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 5vh;
        width: 5vw;
    }
}
.sugestao__compra__texto {    
    font-weight: 400;
    font-size: 2.9em;
    height: 8%;
    text-align: start;
    width: 100%;
}
.sugestao__compra__preco {
    color: $color-preco;
    font-weight: bold;
    font-size: 4em;
    line-height: 0%;
    text-align: start;
    width: 100%;
    margin-top: -9%;
    @media screen and (max-width: 576px){
        text-align: center;
        margin-top: 0%;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        margin-top: 0%;
    }
}
.sugestao__compra__botao__sacola {
    @include button__sacola;
    width: 100%;
}
.sugestao__compra__botao__svg {
    @include button__svg__sacola;
}