$cor-primaria: #2b6099;
$cor-primaria-negativa: #ffffff;
$cor-secundaria: #134376;
$cor-terciaria: #0d335b;
$cores-detalhes: #c4c4c4;
$cor-fontes: #000000;

$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;


@mixin bordas-imagens {
  img {
    border: solid 1px $cores-detalhes;
    box-sizing: border-box;
    padding: .2em;
  }
}
