@import '../../assets/var';
@import '../logo/logo';

.slogan{
background-color: $quaternary-color;


    .slogan-text-config{
        text-align: center;
        width: 52%;
        margin: auto;
    }

    &__text{
        font-size: 1.6em;
        font-weight: $font-weight-text;
        display: inline-block;
        text-align: justify;
        margin-bottom: 0;
        margin-top: 50px;
    }
    &__text::after{
        content: "";
        display: inline-block;
        width: 100%;
    }

    @media screen and (max-width:570px){
        .slogan__text{
            font-size: $font-size-text;
        }
        .slogan-text-config{
            margin: auto
        }

    }







}

.logo {
    @extend %expand;
    width: auto;
 }